# =====================================================
# Python
# =====================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =====================================================
# Virtual Environment
# =====================================================
.venv/
venv/
env/

# =====================================================
# Jupyter Notebook
# =====================================================
.ipynb_checkpoints/

# =====================================================
# VS Code
# =====================================================
.vscode/

# =====================================================
# PyCharm
# =====================================================
.idea/

# =====================================================
# Environment Variables
# =====================================================
.env

# =====================================================
# Logs
# =====================================================
*.log

# =====================================================
# Operating System Files
# =====================================================
Thumbs.db
.DS_Store

# =====================================================
# Python Cache
# =====================================================
.pytest_cache/
.mypy_cache/

# =====================================================
# Docker
# =====================================================
*.tar

# =====================================================
# Build Files
# =====================================================
build/
dist/
*.egg-info/

# =====================================================
# Datasets
# =====================================================
data/raw/
data/processed/
notebooks/*.csv

# =====================================================
# CatBoost
# =====================================================
notebooks/catboost_info/

# =====================================================
# Reports (Generated)
# =====================================================
reports/

# =====================================================
# Streamlit Cache
# =====================================================
.streamlit/

# =====================================================
# Temporary Files
# =====================================================
*.tmp
*.bak
*.swp